{{!< default}}

<div class="hero min-h-[70vh] items-baseline">
  <div class="hero-content flex-col lg:flex-row-reverse max-w-[80%] gap-8">
    <img
      src="{{asset 'images/anba.png'}}"
      class="xl:max-w-2xl lg:max-w-xl md:max-w-md sm:max-w-sm rounded-lg"
    />
    <div>
      <h1
        class="xl:text-9xl lg:text-8xl md:text-6xl sm:text-5xl hero-header"
      >HELLO, <br />I'M ANBARASAN</h1>
      <p class="py-6 text-5xl sm:text-4xl font-header font-[300]">WELCOME TO MY
        BLOG.</p>
      <p class="py-6 hero-text">With more than 8 years of experience in software
        development, I am dedicated to merging innovation with precision to
        eliminate uncertainties. I am deeply passionate about crafting impactful
        software solutions that bring me joy.</p>
      <p class="py-6 text-4xl sm:text-3xl hero-text">This blog will cover topics
        such as technology trends, data visualization showcasing fascinating
        data, artistic creations, and more.
      </p>
      <a
        class="text-2xl btn btn-active btn-neutral font-header bg-black text-white"
        role="button"
        href="/blog/"
      >Get started <i class="fa fa-arrow-right"></i></a>
      {{! <a role="button" href="/about/"class="btn btn-primary">Get Started<a/> }}
    </div>
  </div>
</div>