{{!< default}}

<div class="hero min-h-[70vh] items-baseline">
  <div class="hero-content flex-col lg:flex-row-reverse max-w-[80%] gap-8">
    <img src="assets/images/anba.png" class="xl:max-w-2xl lg:max-w-xl md:max-w-md sm:max-w-sm rounded-lg" />
    <div>
      <h1 class="text-5xl font-bold">HELLO I'M ANBARASAN</h1>
      <p class="py-6">8+ years in software crafting, fusing innovation with precision, banishing doubts and fears. With a deep love for the craft that cheers, I create software solutions that inspire.</p>
      <a role="button" href="/about/"class="btn btn-primary">Get Started<a/>
    </div>
  </div>
</div>