{{!< default}}

<main class="gh-main gh-outer">
    {{#tag}}
        <section class="gh-article gh-inner">
            <header class="gh-article-header pb-8 border-b border-dashed border-black">
                <div class="mb-8">
                    {{#if feature_image}}
                        {{> "post-feature-image"}}
                    {{/if}}
                </div>
                <h2 class="gh-article-title text-center">{{name}}</h2>
                {{#if description}}
                    <p class="gh-article-excerpt">{{description}}</p>
                {{/if}}
                {{!-- {{> "feature-image"}} --}}
            </header>
        </section>
    {{/tag}}
    <div class="mx-auto grid max-w-4xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>
</main>